@page
@model Nevada.Pages.ShoeModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-black text-capitalize">
            Our great selection of Shoes!
        </h1>
        <p class="smallText"><i>Only one pair of shoes per purchase!</i></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row divEdit">
                    <div class="col-4">
                        <img src="~/images/Air-Jordan-1-Mid-Se-removebg-preview (1).png" class="w-100" />
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle textEdit">
                            <h3 style="text-align:left;">Choose your own Pair of Shoes!</h3>
                            <a class="btn btnEdit1 btnEdit" style="float:left">Pick your shoes</a>
                        </div>
                    </div>
                </div>

            </div>
            @foreach (var shoe in Model.Shoes)
            {
                var imagePath = shoe.ImageTitle;
                <div class="col-4  shoe-img">
                    <a asp-area="" asp-page="View/View"
                   asp-route-ImageTitle="@shoe.ImageTitle"
                   asp-route-ShoeName="@shoe.ShoeName"
                   asp-route-Price="@shoe.Price"
                   asp-route-Size="@shoe.Size"
                   asp-route-OutOfStock="@shoe.OutOfStock"
                   asp-route-Property="@shoe.Property"
                   asp-route-Id="@shoe.Id">
                        <div class="container bg-secondary bg-opacity-10 py-2 mb-5">

                            <img src="@imagePath" class="w-100 mb-5" asp-append-version="true" />
                            <p class="text-black mt-2">@shoe.ShoeName</p>
                        </div>
                    </a>
                    <br />

                </div>
            }
        </div>
    </div>
</div>
